<nav class="top-bar" data-topbar>
  <ul class="title-area">
     
    <li class="name">
      <h1>
        <a href="#">
          Instagram Feed Application
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
     
    <ul class="right">
      <li>
        <a href="https://instagram.com/oauth/authorize/?client_id=9e5b87ff55124687a064d58b1a7b3b67&redirect_uri=http://127.0.0.1:9000/#/home/&response_type=token" target="_self">Login with Instagram</a>
      </li>
      <li>&nbsp;</li>
    </ul>
  </section>
</nav>